# AI学習データ
csv/ai/

# AIモデルバックアップ
model/backup/

# Pythonキャッシュ
__pycache__/
*.pyc

# 過去CSVデータ
csv/historical_date/

# 不要コード
archive/

# 過去JSON
data_official/historical/
data_official/historical_raw/

# ドキュメントフォルダ
_docs/

# Office一時ファイル
~$*

# 結合済CSVデータ
csv/archive_daily_csv/